

 body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin:0;
    padding: 0;
 }

.signature-pad-form{
    max-width: 400px;
    margin-left: 200px;
}
.x--button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}
.canvas--button--box{
    display: grid;
    grid-template-columns: 90% 10%;
}
.submit--button{
    width:200px;
    color:black;
    background-color: beige;
    margin-top: 20px;
    margin-left: 60px;
    

}
.signature-pad{
    cursor:url("pen.png"),pointer !important;
    border-bottom:2px solid red;
    border-radius: 4px;
    display: none;
    margin-left: 60px;
}
.input--Box{
    display: grid;
    grid-template-columns: 30%  80%;
    margin-left: 60px;   
    margin-top: 20px;

}

.input--name{
    width:200px;
    border:none;
    border-bottom: 1px solid black;
    
}
.input--name:active,
.input--name:focus {
  outline: none;
}
#signature1 {
    /* position: absolute; */
    /* top: 80%; */
    /* left:100px; */
    /* transform: translate(-50%, -50%); Center the text within the canvas */
    z-index: 2;
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: 60px;

}
#signature2 {
    z-index: 2;
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: 60px;


}
#signature3 {
    z-index: 2;
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: 60px;

}

.parent-div{
    
    margin-bottom: 20px;
    margin-top: 40px;
}
.child-div-text{
    /* position: absolute;
    top:10px; */
    font-weight: bold;

    
}
.clear-button{
    color:blue
}